:root {
  --main-background-color: #343A50;
  --card-background-color: #e29b25;
  --countdown-background-color: #433765;
  --main-text-color:#F7F6F4;
  --title-text-color:#ffcc80;
}

body{
 background-color: #fff;
  /* background: url("img/bg.svg"); */
  background-size: cover;
  font-family: 'Kanit', sans-serif;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}


button {
    cursor: pointer;
}

ul.menus {
    color: #222;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    padding: 20px 30px;
    height: 100px;
    margin: auto 0;
}

@media only screen and (max-width: 805px) {
  ul.menus {
    width: 100%;
    gap: 10%;
  }
}

li.menu {
    cursor: pointer;
}

li.menu:hover {
    color: #cc8621;
    text-decoration: underline;
}