footer {
  background: #fff;
  padding: 2rem 10%;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: #222;
}

@media only screen and (max-width: 700px) {
  footer {
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.sl {
  border: 1px solid #222;
  padding: 10px;
  color: #222;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sl:hover {
  border: 1px solid #cd9831;
  color: #cd9831;
}
