*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #ffffff;
  font-size: 16px;
}

.text-container {
  max-width: 500px;
  text-align: left;
  margin: 0 2rem;
}
@media only screen and (max-width: 805px) {
  .text-container {
    margin: 5rem 2rem;
  }
}

h2 {
  font-size: clamp(1.5rem, 2vw + 2rem, 5.75rem);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.2;
}

p {
  font-size: clamp(0.875rem, 2vw + 1rem, 1.125rem);
}

h2.title {
  color: #cc8621;
}

p.desc {
  color: #222;
  margin-top: 1rem;
}

.logo {
  width: 80px;
  border-right: 1px solid #222;
  height: 100px;
}

.bn47 {
  position: relative;
  padding: 1rem 2rem 0.5rem 2.5rem;
  color: #000000;
  border: 3px solid #776e62;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

.bn47:before {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #ffcc80;
  border-right: 3px solid #ffcc80;
  border-bottom: 3px solid #ffcc80;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bn47:hover {
  padding: 0.75rem 2.25rem;
  color: #fff;
}

.bn47:hover:before {
  top: 0;
  left: 0;
}
main {
  min-height: 100vh;
}

.redeem-left {
  color: #222;
}
