*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #FFFFFF;
}

.text-container {
    max-width: 50%;
    text-align: left;
    margin-top: -150px;
}

h2.title {
    color: #cc8621;
}

p.desc {
    color: #222;
}